This notebook provide you a way to obtain a csv file for later QSAR building

In [ ]:
import pandas as pd

Read structure

In [5]:
df3 = pd.read_csv('structures.txt')

In [6]:
df3

                                              smiles
0  CN(N=C1)C=C1C2=CC=C(OC(F)=C3C4=CN(CC5=CC=CC=C5...
1  CN(N=C1)C=C1C2=CC=C(OC(C)=C3C4=CN(CC5=CC=CC=C5...

Next the txt file will be save as a csv file, then import back again, to beautify the structure.

In [24]:
df3.to_csv('structure.csv')

In [25]:
df4=pd.read_csv('structure.csv')

In [26]:
df4

   Unnamed: 0                                             smiles
0           0  CN(N=C1)C=C1C2=CC=C(OC(F)=C3C4=CN(CC5=CC=CC=C5...
1           1  CN(N=C1)C=C1C2=CC=C(OC(C)=C3C4=CN(CC5=CC=CC=C5...

In [27]:
selection=['smiles']
df4[selection]

                                              smiles
0  CN(N=C1)C=C1C2=CC=C(OC(F)=C3C4=CN(CC5=CC=CC=C5...
1  CN(N=C1)C=C1C2=CC=C(OC(C)=C3C4=CN(CC5=CC=CC=C5...

In [28]:
df4_selection = df4[selection]
df4_selection

                                              smiles
0  CN(N=C1)C=C1C2=CC=C(OC(F)=C3C4=CN(CC5=CC=CC=C5...
1  CN(N=C1)C=C1C2=CC=C(OC(C)=C3C4=CN(CC5=CC=CC=C5...

Read bioactivity

In [21]:
df7 = pd.read_csv('bioactivity.txt')

In [22]:
df7

   bioactivity
0          8.5
1          6.9

In [29]:
df7.to_csv('bioactivity.csv')

In [32]:
df8=pd.read_csv('bioactivity.csv')

In [33]:
df8

   Unnamed: 0  bioactivity
0           0          8.5
1           1          6.9

In [34]:
selection=['bioactivity']
df8[selection]

   bioactivity
0          8.5
1          6.9

In [36]:
df8_selection = df8[selection]
df8_selection

   bioactivity
0          8.5
1          6.9

Combine structure and bioactivity

In [39]:
df10 = pd.concat([df4_selection, df8_selection], axis=1)
df10

                                              smiles  bioactivity
0  CN(N=C1)C=C1C2=CC=C(OC(F)=C3C4=CN(CC5=CC=CC=C5...          8.5
1  CN(N=C1)C=C1C2=CC=C(OC(C)=C3C4=CN(CC5=CC=CC=C5...          6.9

Save file as csv file, here we kept index

In [40]:
df10.to_csv('Dyrk1a_bioactivity_data_preprocessed.csv')